
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
body {
    background: #3763FF;
}
html {
    height: 100%;
}
.btn {
    font-size: 18px;
    font-weight: bold;
    background: white;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0,1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0,5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}